{% extends 'polls/header.html' %}

{% block content %}

{{% block style_page %}{% include 'polls/style-page.html' %}{% endblock %}

<body id="home" class="scrollspy">
  <!-- Section: Contact -->
  <section id="contact" class="section white section-contact scrollspy" style="background-image: url('https://cdn1.ntv.com.tr/gorsel/RFhUS86nqkKmixEnUKv5sg.jpg?width=1200&mode=crop&scale=both&v=20200319045218671');"  style="filter: brightness(45%); filter: blur(30%);">
    <div class="black container" style="margin-top: 2%;">
      <div class="row">
        <div class="col s12 m12 center">
            <h3 style="font-family: 'Oswald'; color:white">Unsere Covid-19 Erklärung</h3>
              <br>
            <h4 style="font-family: 'Oswald'; color:white">Sales 
            </h4>
            <h6 style="color: white;">
              Allgemeine Hinweise
            Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
            </h6>
            <h5 style="font-family: 'Oswald'; color:white">Datenerfassung auf unserer Website
            </h5> 
            <h6 style="color: white;">Wer ist verantwortlich für die Datenerfassung auf dieser Website?<br>

              Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.<br><br>
              
              Wie erfassen wir Ihre Daten?<br>
              Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
              
              Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.<br><br>
              
              Wofür nutzen wir Ihre Daten?<br>
              Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.<br><br>
              
              
            </h6>
            <h5 style="color: white;">Wir möchten Ihnen so gut wie möglich dienen

            </h5> 

            <h6 style="color: white;">
              Beim Besuch unserer Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem mit Cookies und mit sogenannten Analyseprogrammen. Die Analyse Ihres Surf-Verhaltens erfolgt in der Regel anonym; das Surf-Verhalten kann nicht zu Ihnen zurückverfolgt werden.<br><br>
              Sie können dieser Analyse widersprechen oder sie durch die Nichtbenutzung bestimmter Tools verhindern. Detaillierte Informationen zu diesen Tools und über Ihre Widerspruchsmöglichkeiten finden Sie in der folgenden Datenschutzerklärung.
            </h6>

            <h6 style="color: white;">
              Danke für dein Besorgnis!            
            </h6><br><br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

{% endblock %}