<footer class="section white-text  center hide-on-med-and-down" style="height: 15%; background-color: #00A650;">
  
  <div class="black container">
    <p class="flow-text left" style="margin-top: 1.5%;font-family:'Oswald', sans-serif; font-weight: 200; font-size: 24px;"><span style="color: white; font-size: 10px;">hergestellt von   </span></span>Schlosswiesenburg</a></p>
    <p onclick="location.href='/impressum';" class="flow-text right" style="cursor: pointer; margin-top: 2%;font-size: 16px;font-family:'Oswald', sans-serif; font-weight: 200;">Impressum</p>
    <p onclick="location.href='/datenschutz';" class="flow-text right" style="cursor: pointer; margin-top: 2%;font-size: 16px;font-family:'Oswald', sans-serif; font-weight: 200; padding-right: 40px;">Datenschutz</p>
  </div>
</footer>

<footer class="section white-text hide-on-large-only" style="height: 22%; background-color: #00A650; margin-top: 0px;">
  <p class="flow-text center" style="margin-top: 0%;font-family:'Oswald', sans-serif; font-weight: 200; font-size: 24px;"><span style="color: white; font-size: 10px;">hergestellt von   </span></span>Schlosswiesenburg</a></p>
  <div class="row">
    <div class=" col s12 m6 center">
        <p onclick="location.href='/impressum';" style="margin-top: 1%;font-size: 14px;font-family:'Poppins', sans-serif; font-weight: 300;">Impressum</p>
        <p onclick="location.href='/datenschutz';" style="margin-top: 1%;font-size: 14px;font-family:'Poppins', sans-serif; font-weight: 300; ">Datenschutz</p>
    </div>
  </div>
</footer>

