{% extends 'polls/header.html' %}

{% block content %}
{% load static %}



{{% block style_page %}{% include 'polls/style-page.html' %}{% endblock %}




<body id="home" class="scrollspy">
  <!-- Section: Slider -->

  
  


    
  </div>


<section style="background-color: black; " class="hide-on-med-and-down">
  <div class="row white" style="height: 61.80%; margin-top: 0%; margin-bottom: 0%;">
    <div class="col s4" style="float: left; width: 61.80%; height: 100%; background-color: #1f6cac;">
      <div class="container" style="width: 500px; text-align: center; margin-top: 6.5%;  ">
        
        <div class="caption left-align" style="padding-top: 7%;">
          <h3 style="font-family: 'Oswald', sans-serif; font-weight: 400; color: white;">Finden Sie heraus, ob Ihr Haus ein Denkmal ist. </h3>
          <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: white;" class="white-text text-lighten-3 hide-on-small-only">Verkaufen Sie Ihre Immobilie diskret zum optimalen</h5>
          <!-- <div class="row">

            <div class="form-group">
              <form id="form1" action="/form"  method="POST" >{% csrf_token %}
              <div class="input-field col s12">
                <input type="text"  id="search_input" placeholder="Type address..." name="address"/>
                <input type="hidden" id="loc_lat" />
                <input type="hidden" id="loc_long" />
              </div>
            </div>
          </div>
          
          <div class="latlong-view">
              <p><b>Latitude:</b> <span id="latitude_view"></span></p>
              <p><b>Longitude:</b> <span id="longitude_view"></span></p>
          </div> -->

            <div class="input-field col s6">
              <input style="color: #ececec;" id="last_name" type="text"  name="street_address">
              <label style="color: #ececec;" for="last_name">Straße, Nr.</label>
            </div>
            <div class="input-field col s6">
              <input style="color: #ececec;" id="last_name" type="text"  required name="zip_address">
              <label style="color: #ececec;" for="last_name">Postleitzahl</label>
            </div>
          </div>
          <a class="waves-effect waves-light  black-text btn hoverable" style="background-color: white;text-align: center;font-family: 'Oswald', sans-serif;" href="/david">Lerne Jetzt!</a> 
        </div>
      </div>
    </div>

    <div class="col s8" style="float: left; width: 38.20%; height: 100%; background-image: url('{% static "house.jpg" %}'); background-size: cover;">
    </div>
  </div>
</section>

<section style="background-color: white;" class="hide-on-med-and-down">
  <div class="row white" style="height: 61.80%; margin-top: 0%; margin-bottom: 0%;">
    <div class="col s4" style="float: right; width: 61.80%; height: 100%; background-color: #c3d9f2;">
      <div class="container" style="width: 500px; text-align: center; margin-top: 6.5%;  ">
        
        <div class="caption left-align" style="padding-top: 7%;">
          <h3 style="font-family: 'Oswald', sans-serif; font-weight: 400; color: black;">Verkaufen Sie Ihre Immobilie diskret. </h3>
          <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: black;" class="black-text text-lighten-3 hide-on-small-only">Verkaufen Sie Ihre Immobilie diskret zum optimalen <br>Preis ohne Maklergebühr zeitnah,  dank unserer künstlichen Intelligenz DAVID.</h5>
          <a class="waves-effect waves-light  black-text btn hoverable" style="background-color: white;text-align: center;font-family: 'Oswald', sans-serif;" href="https://wirkaufenjedeshaus.com" target="_blank">Erfahren Sie mehr!</a> 
          <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: white;"></h5>
        </div>
      </div>
    </div>

    <div class="col s8" style="float: left; width: 38.20%; height: 100%; background-image: url('{% static "iphone.png" %}'); background-size: cover;">
    </div>
  </div>
</section>





<!-- <div class="hero" style="height: 15.45%; ">
  <div class="diagonal-hero-bg" style="height: 100%;"> 
     <div class="stars">
        <div class="small"></div>
        <div class="medium"></div>
        <div class="big"></div>
      </div>
   </div>
</div>




<section id="contact" class="section red scrollspy hide-on-med-and-down" style="height: 100%; z-index: 10;">
  <div class="row white" style="height: 25%; margin-top: -1.5%;">
    <div class="col s4" style="float: left; width: 61.80%; height: 100%; background-color: white;">
      <div class="container" style="width: 500px; text-align: center; margin-top: 4%;  ">
        <h4 style="color: black; font-family: 'Oswald', sans-serif; font-weight: 300;" >Fragen zu Ihrer Immobilie und Ihren Abwicklungspräferenzen in wenigen Schritten beantworten.</h4>
      </div>
    </div>

    <div class="col s8" style="float: left; width: 38.20%; height: 100%; background-color:#91ff6b">
      <div class="container" style=" width: 100%;">
           
            <div style="margin-top: 10%;">
              <div style="height: 20%;">
                <div style="float: left; width: 100%; text-align: center; cursor: pointer" class="modal-trigger" data-target="terms">
                  <span style="height: 90px;
                  width: 90px;
                  background-color: black;
                  border-radius: 50%;
                  display: inline-block;
                  margin-top: 0;">
                    <h4 style="color: white;  margin-top: 14%;font-size: 60px;">1</h4>
                  </span>
                </div>
              </div>
            </div>         
      </div>
    </div>
  </div>

  <div class="hero" style="height: 15.45%; margin-top: -1.6%; ">
    <div class="diagonal-hero-bg" style="height: 100%; z-index: 11;"> 
       <div class="stars">
          <div class="small"></div>
          <div class="medium"></div>
          <div class="big"></div>
        </div>
     </div>
  </div>
  
  <div class="row white" style="height: 25%; margin-top: 0%;">
    <div class="col s4" style="float: right; width: 61.80%; height: 100%; background-color: white;">
      <div class="container" style="width: 400px; text-align: center; margin-top: 4%;  ">
        <h4 style="color: black; font-family: 'Oswald', sans-serif; font-weight: 300;" >Erhalten Sie erste Informationen zum potentiellen Käufer, basierend auf Ihren Interessen.</h4>
      </div>
    </div>

    <div class="col s8" style="float: left; width: 38.20%; height: 100%; background-color:#91ff6b">
      <div class="container" style=" width: 100%;">
           
            <div style="margin-top: 10%;">
              <div style="height: 20%;">
                <div style="float: left; width: 100%; text-align: center; cursor: pointer" class="modal-trigger" data-target="terms">
                  <span style="height: 90px;
                  width: 90px;
                  background-color: black;
                  border-radius: 50%;
                  display: inline-block;
                  margin-top: 0;">
                    <h4 style="color: white;  margin-top: 14%;font-size: 60px;">2</h4>
                  </span>
                </div>
              </div>
            </div>         
      </div>
    </div>
  </div>

  <div class="hero" style="height: 15.45%; margin-top: -1.6%; ">
    <div class="diagonal-hero-bg" style="height: 100%; z-index: 11;"> 
       <div class="stars">
          <div class="small"></div>
          <div class="medium"></div>
          <div class="big"></div>
        </div>
     </div>
  </div>
  <div class="row white" style="height: 25%; margin-top: 0%;">
    <div class="col s4" style="float: left; width: 61.80%; height: 100%; background-color: white;">
      <div class="container" style="width: 450px; text-align: center; margin-top: 4%;  ">
        <h4 style="color: black; font-family: 'Oswald', sans-serif; font-weight: 300;" >Vereinbaren Sie einen Besichtigungstermin mit den idealen Käufer aus unserer Datenbank.
        </h4>
      </div>
    </div>

    <div class="col s8" style="float: left; width: 38.20%; height: 100%; background-color:#91ff6b">
      <div class="container" style=" width: 100%;">
           
            <div style="margin-top: 10%;">
              <div style="height: 20%;">
                <div style="float: left; width: 100%; text-align: center; cursor: pointer" class="modal-trigger" data-target="terms">
                  <span style="height: 90px;
                  width: 90px;
                  background-color: black;
                  border-radius: 50%;
                  display: inline-block;
                  margin-top: 0;">
                    <h4 style="color: white;  margin-top: 14%;font-size: 60px;">3</h4>
                  </span>
                </div>
              </div>
            </div>         
      </div>
    </div>
  </div>

  <div class="hero" style="height: 15.45%; margin-top: -1.6%; ">
    <div class="diagonal-hero-bg" style="height: 100%; z-index: 11;"> 
       <div class="stars">
          <div class="small"></div>
          <div class="medium"></div>
          <div class="big"></div>
        </div>
     </div>
  </div>
  
  <div class="row white" style="height: 25%; margin-top: 0%;">
    <div class="col s4" style="float: right; width: 61.80%; height: 100%; background-color: white;">
      <div class="container" style="width: 350px; text-align: center; margin-top: 4%;  ">
        <h4 style="color: black; font-family: 'Oswald', sans-serif; font-weight: 300;" >Erhalten Sie ein verbindliches Kaufangebot und vereinbaren Sie einen Notartermin. 
        </h4>
      </div>
    </div>

    <div class="col s8" style="float: left; width: 38.20%; height: 100%; background-color:#91ff6b">
      <div class="container" style=" width: 100%;">
           
            <div style="margin-top: 10%;">
              <div style="height: 20%;">
                <div style="float: left; width: 100%; text-align: center; cursor: pointer" class="modal-trigger" data-target="terms">
                  <span style="height: 90px;
                  width: 90px;
                  background-color: black;
                  border-radius: 50%;
                  display: inline-block;
                  margin-top: 0;">
                    <h4 style="color: white;  margin-top: 14%;font-size: 60px;">4</h4>
                  </span>
                </div>
              </div>
            </div>         
      </div>
    </div>
  </div>

  <div class="hero" style="height: 15.45%; margin-top: -1.6%; ">
    <div class="diagonal-hero-bg" style="height: 100%; z-index: 11;"> 
       <div class="stars">
          <div class="small"></div>
          <div class="medium"></div>
          <div class="big"></div>
        </div>
     </div>
  </div>
</section> -->






<!-- <section style="background-color: #91ff6b; height: 100%; margin-bottom: 600px;" id="steps">
  <div class="row" style="height: 25%;">
    <div style=" background-color: white; height:100%; width: 61.8%; display:inline-block;">
        <div class="left-align">
          <div class="container">
            <h4 class="left" style="font-family:'Oswald', sans-serif; padding-top: 5%">DAVIDs Fragen zu Ihrem Haus und Ihren interessen beantworten.
            </h4>
          </div>
        </div>
    </div>
    <div class="hero" style="height: 20%;">
      <div class="diagonal-hero-bg" style="height: 100%;"> 
         <div class="stars">
            <div class="small"></div>
            <div class="medium"></div>
            <div class="big"></div>
          </div>
       </div>
    </div>
    <div style= "height:100%; width: 38.2%;  display:inline-block;">
      <div class="left-align">
        <div class="container">
          <h2 class="left" style="font-family:'Oswald', sans-serif; padding-top: 6%; padding-left: 25%;">1</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 25%; background-color: red; ">
    <div style= "height:100%; width: 45%;  display:inline-block; background-color: yellow;">
      <div class="container">
        <div class="caption">
        </div>
      </div>
    </div>
    <div class="left-align" style=" background-color: white; height:100%; width: 54%; display:inline-block;">
          <div class="container">
            <h4  style="font-family:'Oswald', sans-serif; padding-top: 5%">Erhalten Sie erste Informationen zum potentiellen Käufer, basierend auf Ihren Interessen.
            </h4>
          </div>
    </div>
  </div>
  <div class="white row" style="height: 25%;">
    <div style=" background-color: white; height:100%; width: 61.8%; margin-left: 0%; display:inline-block;">
        <div class="caption left-align">
          <div class="container">
            <h4 class="left" style="font-family:'Oswald', sans-serif; padding-top: 5%">Vereinbaren Sie einen Besichtigungstermin mit den idealen Käufer aus unserer Datenbank.
            </h4>
          </div>
        </div>
    </div>
    <div style= "height:100%; width: 38%; margin-right: 0%; display:inline-block; background-color: #91ff6b">
      <div class="caption left-align">
        <div class="container">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 25%; background-color: #91ff6b">
    <div style= "height:100%; width: 38%; margin-left: 0%; display:inline-block;">
      <div class="caption left-align">
        <div class="container">
        </div>
      </div>
    </div>
    <div style=" background-color: white; height:100%; width: 61.8%; margin-right: 0%; display:inline-block;">
        <div class="caption left-align">
          <div class="container" >
            <h4 class="left" style="font-family:'Oswald', sans-serif; padding-top: 5%">Erhalten Sie ein verbindliches Kaufangebot und vereinbaren Sie einen Notartermin. 
            </h4>
          </div>
        </div>
    </div>
  </div>
</section> -->

  <!-- <section style="background-color: #91ff6b; ; margin-top: 385px;">
    <div class="row" style="height: 50%; background-color: white; padding-top: 4%;  width: 61.8%; margin-left: 0%;">
      <div class="container" style="max-width: 400px;">
        <div class="caption left-align">
            <h2 style="font-family: 'Oswald', sans-serif; font-weight: 400; color: black;">Schritt 3 </h2>
            <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: black;" class="black-text text-lighten-3 ">Vereinbaren Sie einen Besichtigungstermin mit den idealen Käufer aus unserer Datenbank.</h5>
          <a href="#form" class="waves-effect waves-light white black-text btn hoverable" style="text-align: center;font-family: 'Oswald', sans-serif;" href="">Mehr</a> 
            <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: black;"></h5>
        </div>
      </div>
      </div>
  </section>

  <section style="background-color: #91ff6b; margin-bottom: 0%; ">
    <div class="row" style="height: 50%; background-color: white; padding-top: 4%;margin-top: 0%; width: 61.8%; margin-right: 0%;">
      <div class="container">
        <div class="caption right-align">
            <h2 style="font-family: 'Oswald', sans-serif; font-weight: 400; color: black;">Schritt 4 </h2>
            <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: black;" class="black-text text-lighten-3 ">Erhalten Sie ein verbindliches Kaufangebot und vereinbaren Sie einen Notartermin. </h5>
          <a href="#form" class="waves-effect waves-light white black-text btn hoverable" style="text-align: center;font-family: 'Oswald', sans-serif;" href="">Mehr</a> 
            <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: black;"></h5>
        </div>
      </div>
    </div>
  </section> -->





  

  <!-- <section style="background-color: #91ff6b; margin-bottom: 0%; margin-top: 0%;" id="kontakt">
    <div class="row" style="height: 90%; background-color: white; padding-top: 5%;">
      <div class="container">
        <div class="table">
          <div class="table-cell"></div>
          <div class="table-cell plattform" >
            <h3 >Others</h3>
          </div>
          <div class="table-cell enterprise">
            <h3 style="font-family: 'GlacialIndifferenceRegular', sans-serif;">wir<span style="color: #91ff6b;">kaufen</span>jedes<span style="color: #91ff6b;">haus</span>.com</h3>
          </div>
          <div class="table-cell cell-feature">Instant delivery</div>
          <div class="table-cell">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="limegreen" fill-rule="limegreen"/>
            </svg>
          </div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">Personal contact person</div>
          <div class="table-cell">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">Pay only for what you use</div>
          <div class="table-cell">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">Real-time fee reporting</div>
          <div class="table-cell">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="grey" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">Volume discounts</div>
          <div class="table-cell"></div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="green"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">Account management</div>
          <div class="table-cell"></div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="green" fill-rule="green"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">Migration assistance</div>
          <div class="table-cell"></div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="green" fill-rule="evenodd"/>
            </svg>
          </div>
          <div class="table-cell cell-feature">24/7 support</div>
          <div class="table-cell"></div>
          <div class="table-cell">
            <svg class="enterprise-check" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <title>check_blue</title>
              <path d="M6.116 14.884c.488.488 1.28.488 1.768 0l10-10c.488-.488.488-1.28 0-1.768s-1.28-.488-1.768 0l-9.08 9.15-4.152-4.15c-.488-.488-1.28-.488-1.768 0s-.488 1.28 0 1.768l5 5z" fill="green" fill-rule="evenodd"/>
            </svg>
          </div>
        </div>
       
      </div>
    </div>
  </section> -->

  <!-- <section style="background-color: #91ff6b; margin-bottom: -3%; margin-top: -3%;" id="kontakt">
    <div class="row" style="height: 50%; background-color: white; padding-top: 4%;">
      <div class="container">
        <div class="caption center-align">
          <h2 style="font-family: 'Oswald', sans-serif; font-weight: 400; color: black;">Kontakt </h2>
          <h5 style="font-family: 'Oswald', sans-serif; font-weight: 300; color: black;" class="black-text text-lighten-3">Für Allgemeine Anfragen: info@wirkaufenjedeshaus.com</h5>
        </div>
      </div>
      </div>
  </section> -->

  <!-- <section style="background-color: white; margin-bottom: -3%; margin-top: -3%; " id="advantage">
    <div class="row" style="height: 100%; background-color: white; padding-top: 4%;">
      <div class="container">
        <li style="background-color: white;">
          <div class="caption center-align black-text">
            <table class="centered" style="margin-left: 0%; margin-left: 0%; font-family: 'GlacialIndifferenceRegular'; font-weight: 200;">
              <thead style="font-size: 32px;">
                <TH style="color: black; font-family: 'GlacialIndifferenceRegular';font-size: 22px;">wirkaufendeshaus.com</TH>
                <TH style="color: #8f968c;">Vorteile</TH>
                
              </thead>
              <tbody style="font-size: 22px;">
                <tr style="color: black;">
                  <td> <i class="material-icons" style="color: black; font-size: 22px; ">check</i>Alvin</td>
                  <td style="color: #8f968c;">Eclair</td>
                </tr>
                <tr style="color: black;">
                  <td><i class="material-icons" style="color: black; font-size: 22px; ">check</i>Alan</td>
                  <td style="color: #8f968c;">Jellybean</td>
                </tr>
                <tr style="color: black;">
                  <td>Jonathan</td>
                  <td style="color: #8f968c;">Lollipop</td>
                </tr>
              </tbody>
            </table>
            
          </div>
          
        </li>
      </div>
      </div>

  </section> -->


  <!-- <section id="contact" class="section section-contact scrollspy">
    <div class="container">
      <div class="row">
        <h3 class="center" style="font-family: 'Oswald', sans-serif;">Unsere Ängste</h3>
        <div class="col s12 m3">
          <span style="height: 240px;
          width: 240px;
          background-color: black;
          border-radius: 50%;
          display: inline-block;
          margin-top: 12;"><i class="material-icons" style="margin-top: 10%; padding-left: 90px; font-size: 60px; color: white;">assignment_turned_in</i>
          <h5 style="font-size: 70px; color: #91ff6b; padding-left: 8%;margin-top: 3%;">1</h5>
          <h5 style="font-size: 28px; color: white; padding-left: 26%; margin-top: -32%;">Fülle das Formular aus</h5>
          </span>              
        </div>
        <div class="col s12 m3">
            <span style="height: 240px;
            width: 240px;
            background-color: black;
            border-radius: 50%;
            display: inline-block;
            margin-top: 12;"><i class="material-icons" style="margin-top: 10%; padding-left: 90px; font-size: 60px; color: white;">equalizer</i>
            <h5 style="font-size: 70px; color: #91ff6b; padding-left: 8%;margin-top: 3%;">2</h5>
            <h5 style="font-size: 28px; color: white; padding-left: 26%; margin-top: -32%;">Lass david rechnen</h5>
            </span>              
        </div>
        <div class="col s12 m3">
            <span style="height: 240px;
            width: 240px;
            background-color: black;
            border-radius: 50%;
            display: inline-block;
            margin-top: 12;"><i class="material-icons" style="margin-top: 10%; padding-left: 90px; font-size: 60px; color: white;">event_available</i>
            <h5 style="font-size: 70px; color: #91ff6b; padding-left: 8%;margin-top: 3%;">3</h5>
            <h5 style="font-size: 28px; color: white; padding-left: 26%; margin-top: -32%;">Ein Treffen arrangieren</h5>
            </span>              
        </div>
        <div class="col s12 m3">
          <span style="height: 240px;
          width: 240px;
          background-color: black;
          border-radius: 50%;
          display: inline-block;
          margin-top: 12;"><i class="material-icons" style="margin-top: 10%; padding-left: 90px; font-size: 60px; color: white;">house</i>
          <h5 style="font-size: 70px; color: #91ff6b; padding-left: 8%;margin-top: 3%;">4</h5>
          <h5 style="font-size: 28px; color: white; padding-left: 26%; margin-top: -32%;">Verkaufe dein <span style="color: #91ff6b;">Haus!</span></h5>
          </span>              
        </div>
      </div>
    </div> 
  </section> -->

  


  



  

  
  

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  
</body>


{% endblock %}