{% extends 'polls/header.html' %}

{% block content %}



{{% block style_page %}{% include 'polls/style-page.html' %}{% endblock %}




<body id="home" class="scrollspy" style="background-color: #00A650;">
  <!-- Section: Contact -->
  <section id="contact" class="section white section-contact scrollspy">
    <div class="white container">
      <div class="row">
        <div class="col s12 m12">
            <h3 style="font-family: 'Poppins';font-weight: 300; color: #00A650;">Impressum</h3>
              <br>
            <h5 style="font-family: 'Poppins'; color: #00A650;">Angaben gemäß § 5 TMG
            </h5>
            <h6 style="font-family: 'Poppins';">Schloss Wiesenburg hilft e.V.,<br>
              Schlossstraße 1a, <br>
              14827 Wiesenburg              <br>
            </h6>
          
            <h5 style="font-family: 'Poppins';color: #00A650;">Vertreten durch
            </h5> 
            <h6 style="font-family: 'Poppins';">REG Rheinische Eigengrund GmbH, vertreten durch die Geschäftsführer: Gero Boetzel und Timo Herbrand<br>
            </h6>

            <h5 style="font-family: 'Poppins';color: #00A650;">Kontakt
            </h5> 
            <h6 style="font-family: 'Poppins';"> Telefon: 0172 9204588<br>
              E-Mail: info@denkmallistewuppertal.de<br>
            </h6>

            <h5 style="font-family: 'Poppins';color: #00A650;">Registereintrag
            </h5>
            <h6 style="font-family: 'Poppins';">
              Eintragung im Handelsregister.<br>
              Registergericht: Amtsgericht Köln<br>
              Registernummer: HR B 54985<br>
            </h6>

            <h5 style="font-family: 'Poppins'; color: #00A650;">Umsatzsteuer
            </h5>
            <h6 style="font-family: 'Poppins';">Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
              DE249558776
              
            </h6>

            <h5 style="font-family: 'Poppins'; color: #00A650;">Streitschlichtung
            </h5>
            <h6 style="font-family: 'Poppins';">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.

            </h6>

            <h5 style="font-family: 'Poppins'; color: #00A650;">Zuständige Aufsichtsbehörde nach § 34 c GewO:

            </h5>
            <h6 style="font-family: 'Poppins';">Stadt Köln<br>
              Amt für öffentliche Ordnung<br>
              Gewerbeangelegenheiten<br>
              Willy- Brandt-Platz 3<br>
              50673 Köln
              
            </h6>

            <h5 style="font-family: 'Poppins'; color: #00A650;">Haftung für Inhalte

            </h5>
            <h6 style="font-family: 'Poppins';">Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
              Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
              
            </h6>

            <h5 style="font-family: 'Poppins'; color: #00A650;">Haftung für Links

            </h5>
            <h6 style="font-family: 'Poppins';">Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
              Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
              
            </h6>

            <h5 style="font-family: 'Poppins'; color: #00A650;">Urheberrechts
            </h5>
            <h6 style="font-family: 'Poppins';">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
              Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
              
            </h6>

            

            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  
</body>


{% endblock %}