<div class="navbar-fixed">
  <nav style="background-color: white; min-height: 90px; margin-top:auto ; margin-bottom: auto;">
    <div class="container">
      <div class="white nav-wrapper">
        
        <!-- <a href="#" class="center brand-logo hide-on-med-and-down" style="margin-top: 10px;">wirkaufenjedeshaus.com</a> -->
        {% load static %}
        <!-- <img class="center brand-logo hide-on-med-and-down" src="{% static 'photos/1.png' %}" style="max-width: 700px; height: 400px; margin-top: -160px; " alt="wirkaufenjedeshaus"> --> 
        <a onclick="location.href='/';" class="center brand-logo hide-on-med-and-down" style="cursor: pointer;margin-top: 6px; font-family: 'Didact Gothic', sans-serif; font-size: 40px; color: black;">Denkmalliste<span style="color: #00A650;"> Wuppertal</span> <span style="color: black; font-size: 10px;"></a>
        <img onclick="location.href='/';" class="left brand-logo hide-on-med-and-down" src='{% static "denkmal2.png" %}' style="cursor: pointer; width: 60px; margin-top: 1%;">


        <img  onclick="location.href='/';"class="left brand-logo hide-on-med-and-up" src='{% static "denkmal2.png" %}' style="cursor: pointer; width: 50px; margin-top: 5%;">
        <a onclick="location.href='/';" class="right  hide-on-med-and-up" style="cursor: pointer; margin-top: 16px; margin-right: 16px; font-family: 'Didact Gothic', sans-serif; font-size: 25px; color: black;">Denkmalliste <span style="color: #00A650;"> Wuppertal</span></a>


       
      </div>
    </div>
  </div>
  </nav>
</div>

</nav>


  
        